{% extends 'base.html' %}
{% block title %}Kalra Mobile World    | Invoice{% endblock %}
{% block content %}
<table class="table table-bordered table-hover table-responsive">

    <thead class="thead-dark text-center">
        <tr>
            <th colspan="5">
                <h3><br>Rahul Kalra Mobile</h3>
                <h5>Haripur kalan Dehradun</h5>
                <h5>Mobile No:9813177700,9897771073</h5>
                <h5>Email : test@gmail</h5>
                <h5> <b>GSTIN</b> : 05BFMPK7364F2Z8 </h5>
            </th>
        </tr>
    </thead>
    <tbody style="background-color: white; width: auto;">
            <tr>
                <td colspan = "3">
                    <div class="input-group text-center">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">To, M/S</span>
                        </div>
                        <INPUT TYPE="TEXT" NAME="company-name" autocomplete="on" id="company-name" class="form-control" placeholder="Customer Name">
                        <INPUT TYPE="TEXT" NAME="mobile-number" autocomplete="on" id="mobile-number" class="form-control" placeholder="Mobile Number">  
                    </div> 
                    <div class="input-group" style="margin-top: 2%">
                            <b>HSN Code:</b>
                            <select id="get_hsc_value" class="form-control" style="margin-left: 2%">
                                <option value=""></option>
                                {% for work in hsc %} 
                                    <option value="{{ work.hsc_number }}">{{ work.hsc_number }}</option>
                                {% endfor %}
                            </select>
                    </div>
                </td>
                <td colspan = "3" style="vertical-align: middle">
                    <b>GSTIN</b> : 05BFMPK7364F2Z8 <br><br>
                        <b style="font-size:20px;">Invoice Number : <span style="color: red;"><b>{{ challan_number }}</b></span></b>
                    </div>
                    <br><br>
                    <div class="input-group">
                       
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Date</span>
                        </div>
                        <INPUT TYPE="date" NAME="date" id="date" class="form-control">
                    </div>
                </td>
         
            </tr> 
            
            <tr>
               
            </tr>
            
            <tr class="thead-dark text-center">
                <th style="width: 30%">Particular</th> 
                <th>Qty</th>
                <th>Total</th>
                <th>Amount</th> 
                <th>Rate</th>

            </tr>
            
            <tr class="text-center">
                <td>
                    <select id="get_code_values1" class="form-control">
                        <option></option>
                        {% for work in works %} 
                         <option value="{{ work.code }}">{{ work.name }}</option>
                        {% endfor %}
                    </select>
                    <div class="float-left">
                        <h5 class="value1" style="margin-top: 10%; margin-bottom: 0"></h5>
                       
                    </div>
                </td>            
            
                <td><INPUT class="form-control" TYPE="number" NAME="quantity1" placeholder="Quantity"></td>
                <td>
                    <!-- <div><h5 class="amount1"></h5></div> -->
                    <INPUT class="form-control amount1" TYPE="number" NAME="amount1" placeholder="Total">
                </td>
                <td><INPUT class="form-control" TYPE="number" NAME="amount1" placeholder="Amount"></td>
                <!-- <td colspan="2"><b class="float-right">Total: </b></td> -->
                <td><INPUT TYPE="number" NAME="total" placeholder="Rate" class="form-control"></td>
            </tr>
            <tr>
                <td colspan="2" rowspan="2">
                    IMEI No.1<h5 class="value2" ></h5><br>
                    IMEI No.2<h5 class="value3" ></h5>
                
                </td>
                
            </tr>
             
            <tr>
                <td colspan="2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">CGST</span>
                        </div>
                        <INPUT class="form-control" TYPE="number" NAME="cgst" placeholder="CGST">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon1">%</span>
                        </div>
                    </div>
                    <div class="input-group" style="margin-top: 2%">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">SGST</span>
                        </div>
                        <INPUT class="form-control" TYPE="number" NAME="sgst" placeholder="SGST">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon1">%</span>
                        </div>
                    </div>    
                </td>
                <td>
                    <div>
                        <INPUT class="form-control" TYPE="number" NAME="cgst-amount" placeholder="CGST Amount">
                    </div>
                    <div style="margin-top: 2%">
                        <INPUT class="form-control" TYPE="number" NAME="sgst-amount" placeholder="SGST Amount">
                    </div>
                </td>
            </tr>
            
            <tr>
                <td colspan="2">
                  
                </td>
                <td colspan="3">
                    <div class="input-group">
                        <b>Grand Total</b> :<INPUT style="margin-left: 2%" class="form-control" TYPE="number" NAME="grand-total" placeholder="Grand Total">
                    </div>
                </td>
            </tr>
            
            <tr>
                <td colspan="2">
                    <div style="text-align: center">
                        Receives the above mentioned goods in good working condition
                    </div>
                    <br>
                    <br>
                    <div style="display: inline">
                        <span style="float: left">Send Through</span>
                        <span style="float: right; ">Received By</span>
                    </div>
                </td>
                <td colspan="3">
                    <br>
                    <br>
                    <div style="vertical-align: bottom !important; text-align: center">
                        For Kalra Mobile World
                    </div>
                </td>
            </tr>
    </tbody>

</table>
<div class="container" style="margin-bottom: 3%">
    <div class="row text-center">
        <div class="col">
            <div class="btn btn-group">
                <div class="btn btn-success" id="download" style="margin: 05px;">Download PDF</div>
                <div class="btn btn-success" id="print" style="margin: 05px;">Print</div>
                <div class="btn btn-warning" id="clear" style="margin: 05px;" onclick="return confirm('Are you sure?'); ">Clear</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function () {
        $('select').selectize({
            sortField: 'text'
        });
    });
    $("#clear").on("click", function(){
        $("input").val('');
    });

    $("#get_hsc_value").on("change", function(){
        var selectedValue = $(this).val();
        $.ajax({
            url : "{% url 'get_hsc_values' %}",
            type : "GET",
            data : {"code" : selectedValue},
            dataType : "json",
            success : function(data){
                // alert(data.name);
                $('input[name=cgst]').val(data.cgst);
                $('input[name=sgst]').val(data.sgst);
            }
        });
        get_grand_total();
    });

    // For first work
    $("#get_code_values1").on("change", function(){
        var selectedValue = $(this).val();
        $.ajax({
            url : "{% url 'get_code_values' %}",
            type : "GET",
            data : {"code" : selectedValue},
            dataType : "json",
            success : function(data){
                // alert(data.name);
                $('.value1').text(data.name);
                $('.value2').text(data.imei1);
                $('.value3').text(data.imei2);
                $('.amount1').val(data.amount);
            }
        });
        
    });

    $("input[name=quantity1]").on("keyup", function(){
        var quantity = $(this).val();
        var amount = $(".amount1").val();
        var amount = amount * quantity;
        $("input[name=amount1]").val(amount);

        get_total();
    });


    function get_total(){
        var a1 = $("input[name=amount1").val();
        var d1 = a1/(1+0.18);
        $("input[name=total]").val(d1.toFixed(2));
        get_grand_total();

    }

    $("input[name=cgst]").on("keyup", function(){
        get_grand_total();
    });

    $("input[name=sgst]").on("keyup", function(){
        get_grand_total();
    });

    function get_grand_total(){
        var cgst = $("input[name=cgst]").val();
        // alert(cgst);
        var total = $("input[name=total]").val();
        var cgst_amount = (parseFloat(cgst) / 100) * parseFloat(total);
        $("input[name=cgst-amount]").val(cgst_amount.toFixed(2));
        
        var sgst = $("input[name=sgst]").val();
        var total = $("input[name=total]").val();
        var sgst_amount = (parseFloat(sgst) / 100) * parseFloat(total);
        $("input[name=sgst-amount]").val(sgst_amount.toFixed(2));

        if($("input[name=cgst").val() && $("input[name=sgst").val()){
            var cgst = $("input[name=cgst-amount]").val();
            var sgst = $("input[name=sgst-amount]").val();
            var total = $("input[name=total").val();
            $("input[name=grand-total").val(Math.ceil((((parseFloat(cgst) + parseFloat(sgst))) + parseFloat(total))));
        }
    }

    $("#download").on("click", function(){
        $.ajax({
            url : "{% url 'generate_pdf' %}",
            type : "GET",
            data : {
                "company_name"      : $("input[name=company-name]").val(),
                "mobile_no"      : $("input[name=mobile-number]").val(),
                "hsc_number"        : $("#get_hsc_value option:selected").val(),
                "date"              : $("#date").val(),
                "code1"             : $("#get_code_values1 option:selected").val(),
                "vendor_name1"      : $(".value1").text(),
                "imei_name1"      : $(".value2").text(),
                "imei_name2"      : $(".value3").text(),
                // "rate1"             : $(".amount1").text(),
                "rate1"             : $("input[name=amount1]").val(),
                "amount1"           : $("input[name=amount1]").val(),
                "quantity1"         : $("input[name=quantity1]").val(),
               
                "cgst"              : $("input[name=cgst]").val(),
                "cgst_amount"       : $("input[name=cgst-amount]").val(),
                "sgst"              : $("input[name=sgst]").val(),
                "sgst_amount"       : $("input[name=sgst-amount]").val(),
                "total"             : $("input[name=total]").val(),
                "grand_total"       : $("input[name=grand-total]").val(),

                // "dated"             : $("input[name=dated]").val(),
                "challan_number"    : "{{ challan_number }}",
            },
            dataType : "json",
            success : function(data){
                window.location = "/works/get/pdf/";
                window.location = "/works/test/";
                setTimeout(function(){
                    // window.location.replace("/works/invoice/melt/");
                }, 3000);
            },
            error: function(data){
                // var blob = new Blob([data]);
                // alert(blob);
                // var link=document.createElement('a');
                // link.href=window.URL.createObjectURL(blob);
                // link.download="download.pdf";
                // link.click();
                window.location = "/works/get/pdf/";
                setTimeout(function(){
                    // window.location.replace("/works/invoice/melt/");
                }, 3000);
            }
        });
    });
    $("#print").on("click", function(){
        $.ajax({
            url : "{% url 'generate_pdf' %}",
            type : "GET",
            data : {
                "company_name"      : $("input[name=company-name]").val(),
                "mobile_no"      : $("input[name=mobile-number]").val(),
                "hsc_number"        : $("#get_hsc_value option:selected").val(),
                "date"              : $("#date").val(),
                "code1"             : $("#get_code_values1 option:selected").val(),
                "vendor_name1"      : $(".value1").text(),
                "imei_name1"      : $(".value2").text(),
                "imei_name2"      : $(".value3").text(),
                // "rate1"             : $(".amount1").text(),
                "rate1"             : $("input[name=amount1]").val(),
                "amount1"           : $("input[name=amount1]").val(),
                "quantity1"         : $("input[name=quantity1]").val(),
               
                "cgst"              : $("input[name=cgst]").val(),
                "cgst_amount"       : $("input[name=cgst-amount]").val(),
                "sgst"              : $("input[name=sgst]").val(),
                "sgst_amount"       : $("input[name=sgst-amount]").val(),
                "total"             : $("input[name=total]").val(),
                "grand_total"       : $("input[name=grand-total]").val(),

                // "dated"             : $("input[name=dated]").val(),
                "challan_number"    : "{{ challan_number }}",
            },
            dataType : "json",
            success : function(data){
                // window.location = "/works/get/pdf/";
                printWindow = window.open('/works/test/');
                printWindow.print();
                setTimeout(function(){
                    // window.location.replace("/works/invoice/melt/");
                }, 3000);
            },
            error: function(data){
                printWindow = window.open('/works/test/');
                printWindow.print();
                setTimeout(function(){
                    window.location.replace("/works/invoice/melt/");
                }, 3000);
            }
        });
    });
</script>
{% endblock %}